<div class="homepage_cover">
  <div class="cover_content">
    <%= image_tag image_path(t_data.cover.logo),
      class: "cover_logo"
    %>
    <p class="cover_desc"><%= t_data.cover.desc %></p>
    <button>Get Started</button>
    <div class="cover_navs">
      <a href="<%= t_data.cover.whitepaper.link %>" target="_blank">
        <%= t_data.cover.whitepaper.name %></a>
      <a href="<%= t_data.header.menu.github.link %>" target="_blank">
        <%= t_data.header.menu.github.name %></a>
    </div>
  </div>
  <video autoplay loop poster="<%= t_data.cover.video.poster %>" class="homepage_video">
    <source src="<%= t_data.cover.video.src %>" type="video/mp4" />
  </video>
</div>
