<footer>
  <div class="n-container">
    <div class="n-row clearfix">
      <div class="clearfix n-col logo-container">

        <img src="<%= image_path('nervos_logo_left_right.svg') %>" class="logo">

      </div>

      <% t_data.footer.infos.each do |_name, info| %>
        <div class="n-col">
          <h1 class="heading-section heading-footer"><%= info.name %></h1>

          <% info.items.each do |_item_name, item| %>
            <a href="<%= item.link %>" target="<%= item.blank == false ? '' : '_blank' %>" class="nav-item nav-footer">
              <%= item.name %>
            </a>
          <% end %>

        </div>
      <% end %>

    </div>

    <p class="rights"><%= t_data.footer.rights %></p>
  </div>
</footer>
